// Использовать только переменные, примеси, вложенность и амперсанды

// Variables

@white : white;
@padding_l_container: 209px;
@padding_r_container: 35px;
@font_open_sans: 'Open Sans', sans-serif;
@font_merriweather: 'Merriweather', serif;
@font_size_link: 13px;
// Mixins

//Implementation

body {
  margin: 0;
}

a {
  text-decoration: none;
}


.wrap {
  background: url("../images/desert.jpg") no-repeat #3a545f;
  background-size: cover;
  height: 890px;
}

//используем коэффициент жадности для адаптивности
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: @padding_l_container;
  padding-right: @padding_r_container;
  height: 102px;
  border-bottom: 1px solid rgba(99, 99, 99, 0.15);

  &__logo {
    margin-top: 5px;
    flex-grow: 1;
  }

  &__menu{
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__search-form{
    height: 25px;
    width: 205px;
    padding: 10px 0px 9px 15px;
  }
}

.logo {
  &__img{
    margin-right: 5px;
  }

  &__text{
    vertical-align: top;
    margin-top: 3px;
  }
}

.menu {
  list-style: none;

  &__item{
    position: relative;
    margin-right: 50px;

    &:last-child{
      margin-right: 30px;
    }

    &:hover:after{
      content: '';
      position: absolute;
      top: 57px;
      left: 5%;
      width: 90%;
      height: 3px;
      color: @white;
      background-color: #fff;

    }
  }

  &__link{
    color: @white;
    font-size: @font_size_link;
    font-family: @font_open_sans;
  }
}

.search-form{
  border-radius: 50px;
  background-color: white;

  &__input{
    border: none;
    margin-left: 10px;
    width: 159px;
    font-family: @font_open_sans;
    font-size: 12px;
    color: #626262;

  }

  &__btn{
    border: none;
    background: url("../images/fa-search.png") bottom center no-repeat;
    height: 20px;
    width: 20px;
  }
}
