// Использовать только переменные, примеси, вложенность и амперсанды

// Variables

@white : white;
@padding_l_container: 209px;
@padding_r_container: 35px;
@font_open_sans: 'Open Sans', sans-serif;
@font_merriweather: 'Merriweather', serif;
@font_size_text_s: 12px;
@font_size_text_m: 15px;
@font_size_text_l: 19px;
// Mixins

.text_size_m(){
  font-size: @font_size_text_m;
  line-height: 26px;
}

.text_size_l(){
  font-size: @font_size_text_l;
  line-height: 31px;
}

.btn(){
  display: inline-block;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
}
.btn_size(m){
  padding: 18px 62px;
}
.btn_size(l){
  padding: 18px 90px;
}
.btn_theme(white){
  background-color: white;
  color: #d54c63;
}
.btn_theme(violet){
  background-color: #8824cd;
  color: white;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4),
              0 1px 0 0 rgba(0, 0, 0, 0.2);
}

//Implementation

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: @white;
}

.wrap {
  position: relative;
  height: 891px;
  padding-left: @padding_l_container;
  padding-right: @padding_r_container;
  background: url("../images/desert.jpg") no-repeat center center #3a545f;
  background-size: cover;
  border-bottom: 1px solid #455975;
  font-family: @font_open_sans;
  color: @white;

  &__title-block{
    position: absolute;
    top: 362px;
    padding-left: 11px;
    width: 505px;
  }
}

//используем коэффициент жадности для адаптивности
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  border-bottom: 1px solid rgba(99, 99, 99, 0.15);

  &__logo {
    margin-top: 5px;
    flex-grow: 1;
  }

  &__menu{
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__search-form{
    height: 25px;
    width: 205px;
    padding: 10px 0px 9px 15px;
  }
}

.logo {
  &__img{
    margin-right: 5px;
  }

  &__text{
    vertical-align: top;
    margin-top: 3px;
  }
}

.menu {
  list-style: none;

  &__item{
    position: relative;
    margin-right: 50px;

    &:last-child{
      margin-right: 30px;
    }

    &:hover:after{
      content: '';
      position: absolute;
      top: 57px;
      left: 5%;
      width: 90%;
      height: 3px;
      color: @white;
      background-color: #fff;

    }
  }

  &__link{
    font-size: 13px;
  }
}

.search-form{
  border-radius: 50px;
  background-color: white;

  &__input{
    border: none;
    margin-left: 10px;
    width: 159px;
    font-size: 12px;
    color: #626262;

  }

  &__btn{
    border: none;
    background: url("../images/fa-search.png") bottom center no-repeat;
    height: 20px;
    width: 20px;
  }
}

.title-block{
  text-align: right;
  &__title{
    margin-bottom: 45px;
    font-size: 50px;
    line-height: 70px;
  }

  &__btn{
    margin-right: -7px;
    margin-bottom: 15px;
    .btn;
    .btn_size(m);
    .btn_theme(violet);

  }

  &__text{
    margin-right: 19px;
    font-size: 12px;
  }
}

.features-page{
  display: grid;
  justify-content: center;
  grid-template-columns: 395px 395px;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  padding: 75px 0px 140px 0px;
  background-color: #2e3b4e;
  font-family: @font_open_sans;
  font-size: @font_size_text_m;
  color: @white;
}

.feature-block{
  &__title{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__text{
    .text_size_m;
  }
}

.contrast-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 145px 0 195px 0;
  position: relative;
  background: url("../images/contrast_wood.jpg") no-repeat center center #e7526b;
  background-size: cover;
  text-align: center;
  font-family: @font_open_sans;
  color: @white;
}

.contrast-block{
  &:before{
    content: "";
    position: absolute;
    top: -37px;
    left: 50%;
    margin-left: -70px;
    width: 141px;
    height: 73px;
    background-image: url("../images/contrast_shape.svg");
  }
  &__title{
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 200;
  }
  &__text{
    width: 500px;
    .text_size_m;
    margin-bottom: 30px;
  }
  &__btn{
    .btn;
    .btn_size(l);
    .btn_theme(white);
  }
}

.description1-page{
  display: flex;
  &__img{
  }
}

.description1-block{
  margin: 0 auto;
  padding: 87px 130px 130px 23px;
  width: 660px;
  color: #3a4d60;
  font-family: @font_open_sans;
  .text_size_m;
  &__title{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2px;
  }
  &__text{
    &_l{
      margin-bottom: 24px;
      .text_size_l;
    }
  }
}
