body {
  margin: 0;
}
a {
  text-decoration: none;
}
.wrap {
  background: url("../images/desert.jpg") no-repeat #3a545f;
  background-size: cover;
  height: 890px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 209px;
  padding-right: 35px;
  height: 102px;
  border-bottom: 1px solid rgba(99, 99, 99, 0.15);
}
.header__logo {
  margin-top: 5px;
  flex-grow: 1;
}
.header__menu {
  display: flex;
  margin: 0;
  padding: 0;
}
.header__search-form {
  height: 25px;
  width: 205px;
  padding: 10px 0px 9px 15px;
}
.logo__img {
  margin-right: 5px;
}
.logo__text {
  vertical-align: top;
  margin-top: 3px;
}
.menu {
  list-style: none;
}
.menu__item {
  position: relative;
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 30px;
}
.menu__item:hover:after {
  content: '';
  position: absolute;
  top: 57px;
  left: 5%;
  width: 90%;
  height: 3px;
  color: white;
  background-color: #fff;
}
.menu__link {
  color: white;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.search-form {
  border-radius: 50px;
  background-color: white;
}
.search-form__input {
  border: none;
  margin-left: 10px;
  width: 159px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #626262;
}
.search-form__btn {
  border: none;
  background: url("../images/fa-search.png") bottom center no-repeat;
  height: 20px;
  width: 20px;
}
