body {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.wrap {
  position: relative;
  height: 891px;
  padding-left: 209px;
  padding-right: 35px;
  background: url("../images/desert.jpg") no-repeat center center #3a545f;
  background-size: cover;
  border-bottom: 1px solid #455975;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.wrap__title-block {
  position: absolute;
  top: 362px;
  padding-left: 11px;
  width: 505px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  border-bottom: 1px solid rgba(99, 99, 99, 0.15);
}
.header__logo {
  margin-top: 5px;
  flex-grow: 1;
}
.header__menu {
  display: flex;
  margin: 0;
  padding: 0;
}
.header__search-form {
  height: 25px;
  width: 205px;
  padding: 10px 0px 9px 15px;
}
.logo__img {
  margin-right: 5px;
}
.logo__text {
  vertical-align: top;
  margin-top: 3px;
}
.menu {
  list-style: none;
}
.menu__item {
  position: relative;
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 30px;
}
.menu__item:hover:after {
  content: '';
  position: absolute;
  top: 57px;
  left: 5%;
  width: 90%;
  height: 3px;
  color: white;
  background-color: #fff;
}
.menu__link {
  font-size: 13px;
}
.search-form {
  border-radius: 50px;
  background-color: white;
}
.search-form__input {
  border: none;
  margin-left: 10px;
  width: 159px;
  font-size: 12px;
  color: #626262;
}
.search-form__btn {
  border: none;
  background: url("../images/fa-search.png") bottom center no-repeat;
  height: 20px;
  width: 20px;
}
.title-block {
  text-align: right;
}
.title-block__title {
  margin-bottom: 45px;
  font-size: 50px;
  line-height: 70px;
}
.title-block__btn {
  margin-right: -7px;
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 62px;
  background-color: #8824cd;
  color: white;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(0, 0, 0, 0.2);
}
.title-block__text {
  margin-right: 19px;
  font-size: 12px;
}
.features-page {
  display: grid;
  justify-content: center;
  grid-template-columns: 395px 395px;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  padding: 75px 0px 140px 0px;
  background-color: #2e3b4e;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
}
.feature-block__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.feature-block__text {
  font-size: 15px;
  line-height: 26px;
}
.contrast-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 145px 0 195px 0;
  position: relative;
  background: url("../images/contrast_wood.jpg") no-repeat center center #e7526b;
  background-size: cover;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.contrast-block:before {
  content: "";
  position: absolute;
  top: -37px;
  left: 50%;
  margin-left: -70px;
  width: 141px;
  height: 73px;
  background-image: url("../images/contrast_shape.svg");
}
.contrast-block__title {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 200;
}
.contrast-block__text {
  width: 500px;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 30px;
}
.contrast-block__btn {
  display: inline-block;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 90px;
  background-color: white;
  color: #d54c63;
}
